body {
        font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
        width:350px;
        min-height:700px;
        background: linear-gradient(black, gray, black);
      }
      .divLink{
        text-decoration:none;
        cursor:pointer;
        opacity:.5;
      }
      .divLink:hover{
        opacity:1;
      }
      .changeValueGreen{
        background-color:rgb(76,217,99);
      }
      .changeValueRed{
        background-color:rgb(254,58,47);
      }
      .table{
        background-color: none;
        margin-bottom: 0px;
      }
      .table th, .table td { 
        border-top: none !important; 
      }
      .table-bordered th, .table-bordered td { 
        border-top: none !important; 
      }
      a{
        color:white; !imporatant
      }
      a:hover{
        text-decoration:none; !imporatant
      }